@import url('https://fonts.googleapis.com/css?family=Work+Sans:300&subset=latin-ext');
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Work sans", Arial;
  color: white;
}

.logocska {
  margin-top: 20px;
  margin-left: 20px;
  width: 50px;
  height: 50px;
}

a {
  color: white;
}

.cim {
  font-size: 50px;
}

.alcim {
  font-size: 28px;
}

.vkozepre {
  position: absolute;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, 0);
}

.fkozepre {
  position: absolute;
  top: 50%;
  margin-bottom: -50%;
  transform: translate(0, -50%);
}

.vfkozepre {
  position: absolute;
  top: 25%;
  margin-bottom: -15%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 15px;
}

.fejlec {
  font-family: Arial;
  position: absolute;
  top: 0;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 18px;
}

.lablec {
  font-family: Arial;
  position: absolute;
  bottom: 0;
  font-size: 14px;
  margin-bottom: 5px;
}

.fejlec a {
  margin: 0px 10px;
  text-decoration: none;
}

.lablec a {
  margin: 0px 10px;
  text-decoration: none;
}

.gombdoboz {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.gomb {
  padding: 15px;
  margin: 10px;
  width: 200px;
  background: rgba(0, 0, 0, 0.5);
  font-family: Arial;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #000000;
}

.gomb:hover {
  filter: invert(100%);
}

.calltoaction {
  background: rgba(200, 0, 0, 1);
}

.hirlev {
  margin-top: 30px;
  text-decoration: none;
  font-family: Arial;
}

.piros {
  border: 1px solid red;
}

.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

.fullscreen-bg__video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@media (max-width: 767px) {
  .fullscreen-bg {
    background: url('https://netacademia.hu/img/mainpage/nethatter767.jpg')
      center center/ cover no-repeat;
  }
  .fullscreen-bg__video {
    display: none;
  }
  .logocska {
    display: none;
  }
  .hideonmobile {
    display: none;
  }
  .fejlec {
    text-align: center;
    font-size: 12px;
  }
  .cim {
    font-size: 35px;
  }
}

@media (max-height: 450px) {
  .fejlec {
    display: none;
  }
  .lablec {
    display: none;
  }
}

/* Játékszabályok listája. */
.playing-list {
    text-align: left;
    font-size: 20px;
}
